/** 
* 1.0 Global CSS
* 
* Applies to all the site
*/

pre.debug {
	background: #ffcc00;
	font-size: 120%;
	line-height: 140%;
	margin-top: 1em;
	overflow: auto;
	position: relative;
}

.important {
	color: red;
}

#loading {
	border: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #999;
	background: url('/img/app/ajax-loader.gif') center right no-repeat;
	z-index: 999999;
	width: 16px;
	height: 16px;
	margin: 5px 0 0 5px;
	background-position: 0 0
}
